sudo: required
language: java
cache:
  directories:
    - .autoconf
    - $HOME/.m2
    - yarn: true
#before_install: mvn clean
#before_install:
#  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version version-number
#  - export PATH="$HOME/.yarn/bin:$PATH"

script:
  #  - mvn test
  - git clone https://aduartebdsol:Odioamoto1!@github.com/gss-bds/bds-app.git
  - git clone https://aduartebdsol:Odioamoto1!@github.com/gss-bds/bds-app-acceptance-tests-mobile.git
 # - ls
 # - cd bds-app
 # - git status
  # - yarn