language: android
jdk: oraclejdk8
env:
  global:
    - ANDROID_BUILD_TOOLS=28.0.3
  matrix:
    - API=22 ABI=armeabi-v7a
#        - API=22 ABI=armeabi-v7a   # This API takes 12 min aprox to build
#        - API=26 ABI=armeabi-v7a   # This API takes 12 min aprox to build
#        - API=19 ABI=x86   # This API takes 12 min aprox to build
cache:
  yarn: true
  directories:
    # Android SDK
    - $HOME/android-sdk-dl
    - $HOME/android-sdk
    # Node modules
    - node_modules
    # Maven
    - $HOME/.m2
android:
  licenses:
    - "android-sdk-preview-license-.+"
    - "android-sdk-license-.+"
    - "google-gdk-license-.+"
  components:
    - android-$API
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - tools
    - platform-tools
    - tools
    - build-tools-23.0.1
    - extra-android-m2repository
    - extra-google-google_play_services
    - extra-google-m2repository
before_install:
  # Clone private repos
  #- git clone https://aduartebdsol:$password@github.com/gss-bds/bds-app.git
  - git clone https://aduartebdsol:$password@github.com/gss-bds/bds-app-acceptance-tests-mobile.git

  # Install nodejs
  - curl -sL https://deb.nodesource.com/setup_10.x | sudo -E bash -
  - sudo apt-get install nodejs
  - sudo apt-get install build-essential

  # Accept licences
  - yes | sdkmanager "platforms;android-28"
  - yes | sdkmanager "build-tools;28.0.3"

  # --> React Native
  #- npm install  react-native-cli
  #- npm install --save @sentry/react-native
  #- echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

  # Install appium doctor
  # - PATH=$PATH:$JAVA_HOME/bin
  # - npm install appium
  # - npm install appium-doctor
  # - "./node_modules/.bin/appium-doctor"
  # - "./node_modules/.bin/appium --log-level info > appium_log.txt &"
  # - echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
  # Install Newman
  - npm install newman

  # Create Emulator API=22 ABI=armeabi-v7a
  # echo "y" | android update sdk -a --no-ui --filter sys-img-armeabi-v7a-android-22
  # echo no | android create avd --force -n test -t android-22 --abi armeabi-v7a
  # echo no | android create avd --force -n test -t android-22 --abi armeabi
  - echo "y" | android update sdk -a --no-ui --filter sys-img-$ABI-android-$API
  - echo no | android create avd --force -n test -t android-$API --abi $ABI
  - emulator -avd test -no-skin -no-window &
  - android-wait-for-emulator
  # - adb devices
  # Download apk to tmpApp
  # - mkdir tmpApp
  # - cd tmpApp
  # - wget --no-check-certificate -r 'https://docs.google.com/uc?export=download&id=1R7SsKfCcehf9fjuYIBDAseMWWiVqDmqG' -O app-development-debug.apk
  # - pwd
  # - ls -lh
  # - cd ..
  - node newman-run.js
  - pwd
  # Install Yarn
  # - curl -o- -L https://yarnpkg.com/install.sh | bash
  # - export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"

script:
  ###  # Automation build
  ##    - cd ..
  ##    - cd ..
  ##    - cd ..
  - ls
  - cd bds-app-acceptance-tests-mobile
  - git checkout feature/paymentAutomation
  #  - ./scripts/run_test_mobile_android.sh -p "." -T @LoginCi -e cyan -d "emulator-5554"
  #    - ./scripts/run_test_mobile_android.sh -t "emulator-5554" -p "/home/travis/build/aduartebdsol/RestAssuredWiremock/bds-app/packages/mobile/android/app/build/outputs/apk/debug" -e "dev" -T "@LoginTravis"
  #- mvn   -Dtesting.driver="android"  -Dtesting.apkName="app-release.apk"   -Dtesting.appiumLocation="http://0.0.0.0:4723"   -Dtesting.wiremockHost="localhost"   -Dtesting.wiremockPort="8765"   -Dtesting.layer="MOBILE"   -Dtesting.apkPath="/home/travis/build/aduartebdsol/RestAssuredWiremock/tmpApp"   -Dtesting.deviceName="emulator-5554"   -Dtesting.deviceType="${deviceType}"   -Dtesting.env="dev" -Dcucumber.options="@Payment_Automate_Pay"   -Dserenity.outputDirectory="prueba/${deviceName}"  clean verify
  #- mvn   -Dtesting.driver="android"  -Dtesting.apkName="app-debug.apk"   -Dtesting.appiumLocation="http://0.0.0.0:4723"   -Dtesting.wiremockHost="localhost"   -Dtesting.wiremockPort="8765"   -Dtesting.layer="MOBILE"   -Dtesting.apkPath="/home/travis/build/aduartebdsol/RestAssuredWiremock/bds-app/packages/mobile/android/app/build/outputs/apk/debug"   -Dtesting.deviceName="emulator-5554"   -Dtesting.deviceType="${deviceType}"   -Dtesting.env="dev" -Dcucumber.options="@LoginTravis"   -Dserenity.outputDirectory="prueba/${deviceName}"  clean verify --quiet
  #- mvn   -Dtesting.driver="android"  -Dtesting.apkName="app-release.apk"   -Dtesting.appiumLocation="http://0.0.0.0:4723"   -Dtesting.wiremockHost="localhost"   -Dtesting.wiremockPort="8765"   -Dtesting.layer="MOBILE"   -Dtesting.apkPath="/home/travis/build/aduartebdsol/RestAssuredWiremock/tmpApp"   -Dtesting.deviceName="emulator-5554"   -Dtesting.deviceType="${deviceType}"   -Dtesting.env="dev" -Dcucumber.options="@LoginTravis"   -Dserenity.outputDirectory="prueba/${deviceName}"  clean verify --quiet
  #./scripts/run_test_mobile_android.sh -p "/Users/alanduarte/Workspace/bds-app/packages/mobile/android/app/build/outputs/apk/development/debug/" -T @ScenarioPrueba -e cyan -d "emulator-5554"
