language: android
jdk: oraclejdk8
env:
  global:
  - ANDROID_BUILD_TOOLS=28.0.3
  matrix:
  - API=22 ABI=armeabi-v7a
cache:
  yarn: true
  directories:
  - "$HOME/android-sdk-dl"
  - "$HOME/android-sdk"
  - "$HOME/bds-app"
  - node_modules
  - "$HOME/.m2"
android:
  licenses:
  - android-sdk-preview-license-.+
  - android-sdk-license-.+
  - google-gdk-license-.+
  components:
  - android-$API
  - extra-google-google_play_services
  - extra-google-m2repository
  - extra-android-m2repository
  - tools
  - platform-tools
  - tools
  - build-tools-23.0.1
  - extra-android-m2repository
  - extra-google-google_play_services
  - extra-google-m2repository
before_install:
- eval "$(ssh-agent -s)"
- openssl aes-256-cbc -K $encrypted_492c890bafbd_key -iv $encrypted_492c890bafbd_iv
  -in deploy.enc -out ./deploy -d
- sudo chmod 600 ./deploy
- ssh-add ./deploy
- git clone https://aduartebdsol:$password@github.com/gss-bds/bds-app.git
- git clone https://aduartebdsol:$password@github.com/gss-bds/bds-app-acceptance-tests-mobile.git
- curl -sL https://deb.nodesource.com/setup_10.x | sudo -E bash -
- sudo apt-get install nodejs
- sudo apt-get install build-essential
- yes | sdkmanager "platforms;android-28"
- yes | sdkmanager "build-tools;28.0.3"
- npm install  react-native-cli
- npm install --save @sentry/react-native
- echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl
  -p
- echo "y" | android update sdk -a --no-ui --filter sys-img-$ABI-android-$API
- echo no | android create avd --force -n test -t android-$API --abi $ABI
- emulator -avd test -no-skin -no-window &
- android-wait-for-emulator
- adb devices
- sudo apt-key adv --keyserver keyserver.ubuntu.com --refresh-keys
- curl -o- -L https://yarnpkg.com/install.sh | bash
- export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"
script:
###  # App Buid
- cd bds-app
- yarn
- cd packages/mobile/
- yarn start --reset-cache &
- yarn android
###  # Automation Run
- cd ..
- cd ..
- cd ..
- cd bds-app-acceptance-tests-mobile
- git checkout fix/keyboardCompleteField
- ./scripts/run_test_mobile_android.sh -p "/home/travis/build/aduartebdsol/RestAssuredWiremock/bds-app/packages/mobile/android/app/build/outputs/apk/debug" -d "emulator-5554" -T @Integration -n "app-development-debug"
