sudo: required
language: java
cache:
  directories:
    - .autoconf
    - $HOME/.m2
before_install: mvn clean
script:
#  - mvn test
  - git clone https://aduartebdsol:Odioamoto1!@github.com/gss-bds/bds-app.git
  - ls
  - cd bds-app
  - git status
