language: android
jdk: oraclejdk8
env:
  global:
    - ANDROID_BUILD_TOOLS=28.0.3
  matrix:
    - API=19 ABI=armeabi-v7a
#        - API=22 ABI=armeabi-v7a   # This API takes 12 min aprox to build
#        - API=26 ABI=armeabi-v7a   # This API takes 12 min aprox to build
#        - API=19 ABI=x86   # This API takes 12 min aprox to build
cache:
  yarn: true
  directories:
    # Android SDK
    - $HOME/android-sdk-dl
    - $HOME/android-sdk
    # Node modules
    - node_modules
    # Maven
    - $HOME/.m2
android:
  licenses:
    - 'android-sdk-preview-license-.+'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'
  components:
#    - android-$API
#    - extra-google-google_play_services
#    - extra-google-m2repository
#    - extra-android-m2repository
    - tools
    - platform-tools
    - tools
#    - build-tools-23.0.1
#    - extra-android-m2repository
##    - extra-google-google_play_services
    - extra-google-m2repository
before_install:
  - git clone https://aduartebdsol:$password@github.com/gss-bds/bds-app.git
  - git clone https://aduartebdsol:$password@github.com/gss-bds/bds-app-acceptance-tests-mobile.git
  - PATH=$PATH:$JAVA_HOME/bin
  - curl -sL https://deb.nodesource.com/setup_10.x | sudo -E bash -
  # Install nodejs
  - sudo apt-get install nodejs
  # ? Check out
  - sudo apt-get install build-essential
 # -->
  - npm install  react-native-cli
  - yes | sdkmanager "platforms;android-28"
  - yes | sdkmanager "build-tools;28.0.3"
  - npm install --save @sentry/react-native
  - echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
  # <---
  #  # Install appium doctor
#  - npm install appium
#  - npm install appium-doctor
#  - "./node_modules/.bin/appium-doctor"
#  - "./node_modules/.bin/appium --log-level info > appium_log.txt &"
#  - echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
#  # Create Emulator
#  - echo "y" | android update sdk -a --no-ui --filter sys-img-$ABI-android-$API
#  - echo no | android create avd --force -n test -t android-$API --abi $ABI
#  - emulator -avd test -no-skin -no-window &
#  - android-wait-for-emulator
#  - adb shell input keyevent 82 &
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"
#  - adb devices
#  # Download apk to tmpApp
#  - yes | ./sdkmanager "platforms;android-28"
#  - yes | ./sdkmanager "build-tools;28.0.3"
#  - yes | ./sdkmanager --licenses
#  - mkdir tmpApp
#  - cd tmpApp
#  - wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=1Yih6vrR84HrMDlo5YHOw68Xu7P2411YG' -O app-release2.apk
#  - pwd
#  - cd ..
install:

script:
#  - cd bds-app-acceptance-tests-mobile
#  #- mvn -Dmaven.compiler.source=11 -Dcucumber.options="--tags "@Issue:BDSD-600  -Dtesting.apkPath="./tmpApp" -Dtesting.apkName="app-release2.apk" -Dtesting.deviceName="emulator-5554"  verify
#  - mvn clean
#  - cd ..
  - cd bds-app
  - yarn
  - cd packages/mobile/
  - yarn build:staging
#  - ls